<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="google-signin-client_id" content="630114060982-loh16abu71viflj0b8i8e6730ds9t6aq.apps.googleusercontent.com")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato&display=swap")
        link(rel="stylesheet", href="/css/normalize.css")
        link(rel="stylesheet", href="/css/app.css")
        script(src='https://kit.fontawesome.com/d7bc68b35c.js')
        <div id="fb-root"></div>
        script(async='' defer='' crossorigin='anonymous' src='https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v4.0&appId=2417550305197183&autoLogAppEvents=1')
        script(src='https://apis.google.com/js/platform.js' async='' defer='')
        title #{nombrePagina}
    body.login
        .contenedor-formulario
            h1 Crea tu cuenta

            //- Mostrando los errores de creación de cuenta
            if locals.mensajes
                each categoria in Object.keys(locals.mensajes)
                    each error in mensajes[categoria]
                        .alerta(class=`${categoria}`)
                            p #{error}

            form(action="/user/crear_cuenta" method="POST" id="formulario" class="caja caja-login")
                .campo
                    label(for="email") Correo electrónico
                    input(type="email" name="email" placeholder="Correo electrónico" value=email)
                .campo
                    label(for="password") Contraseña
                    input(type="password" name="password" placeholder="Contraseña" value=password)
                .campo.enviar
                    input(type="submit" value="Crear cuenta" class="boton")
                .fb-login-button(data-width='210' data-size='medium' data-button-type='login_with' data-auto-logout-link='false' data-use-continue-as='false')
                .g-signin2(data-onsuccess='onSignIn')
                a(href='#' onclick='signOut();') Sign out
                .campo
                    a(href="/user/iniciar_sesion") Volver a iniciar sesión