doctype html
head
  // manejar el lenguaje para navegadores poco actualizados
  <!--[if IE 8]>
  <html lang="es" class="lt-ie9">
  <![endif]-->
  <!--[if gt IE 8]><!-->
  <html lang="es">
  <!--<![endif]-->

  title #{nombrePagina}
  
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel='icon' type='image/png' href='/images/icons/favicon.png')

  link(href='https://fonts.googleapis.com/css?family=Montserrat|Roboto&display=swap' rel='stylesheet')


  link(rel='stylesheet' type='text/css' href='/vendor/bootstrap/css/bootstrap.min.css')

  link(rel='stylesheet' type='text/css' href='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')

  link(rel='stylesheet' type='text/css' href='/fonts/themify/themify-icons.css')

  link(rel='stylesheet' type='text/css' href='/fonts/Linearicons-Free-v1.0.0/icon-font.min.css')

  link(rel='stylesheet' type='text/css' href='/fonts/elegant-font/html-css/style.css')

  link(rel='stylesheet' type='text/css' href='/vendor/animate/animate.css')

  link(rel='stylesheet' type='text/css' href='/vendor/css-hamburgers/hamburgers.min.css')

  link(rel='stylesheet' type='text/css' href='/vendor/animsition/css/animsition.min.css')

  link(rel='stylesheet' type='text/css' href='/vendor/select2/select2.min.css')

  link(rel='stylesheet' type='text/css' href='/vendor/daterangepicker/daterangepicker.css')

  link(rel='stylesheet' type='text/css' href='/vendor/slick/slick.css')

  link(rel='stylesheet' type='text/css' href='/vendor/lightbox2/css/lightbox.min.css')

  link(rel='stylesheet' type='text/css' href='/css/util.css')
  link(rel='stylesheet' type='text/css' href='/css/main.css')
  link(rel='stylesheet' type='text/css' href='/css/theme.css')
  link(rel='stylesheet' type='text/css' href='/css/style.css')



  link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.8.1/css/all.css' integrity='sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf' crossorigin='anonymous')

// header fixed
// el header que permanece
.wrap_header.fixed-header2.trans-0-4
  
  // Logo
  a.logo(href='/')
    img(src='images/icons/logo.png' alt='IMG-LOGO')
  
  // Menu
  .wrap_menu
    nav.menu
      ul.main_menu
        li
          a(href='/') Inicio
        li
          a(href='/productos') Productos

          ul.sub_menu
            li
              a(href='#') Despensa
            li
              a(href='#') Carnes
            li
              a(href='#') Lácteos
            li
              a(href='#') Frutas y vegetales
            li
              a(href='#') Panes
            li
              a(href='#') Bebidas
            li
              a(href='#') Snacks y dulces
        li
          a(href='/contactanos') Contáctanos

  // Header Icon al avanzar hacia abajo
  .header-icons
    a.header-wrapicon1.dis-block(href='/user/iniciar_sesion')
      // carrito
      img.header-icon1(src='images/icons/icon-header-01.png' alt='ICON')

    span.linedivide1
     
    .header-wrapicon2
      img.header-icon1.js-show-header-dropdown(src='images/icons/icon-header-02.png' alt='ICON')
      if (!session.cart)
        span.header-icons-noti 0
      else
        span.header-icons-noti #{session.cart.totalQty}

      

      // Header CARRITO
      .header-cart.header-dropdown
        ul.header-cart-wrapitem
          if (!session.cart)
            .header-cart-total
            | Total: L.0
          else
            each producto in products
              li.header-cart-item
                .header-cart-item-img
                  img(src=producto.item.foto alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                  | #{producto.item.nombre}
                  span.header-cart-item-info
                    | #{producto.qty} x #{producto.item.precioVenta}
            .header-cart-total
              | Total: L #{totalPrice}
          
        
        .header-cart-buttons
          .header-cart-wrapbtn
          
            // Button
            a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='/carrito')
              | Ver Carrito
          .header-cart-wrapbtn
            // Button
            a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='/factura')
              | Comprar
  // Fin header Icon
// Fin header fixed 

// top noti
.flex-c-m.size22.bg0.s-text21.pos-relative
  | APROVECHA! 20% de descuento 
  a.s-text22.hov6.p-l-5(href='/factura')
    | Comprar
  button.flex-c-m.pos2.size23.colorwhite.eff3.trans-0-4.btn-romove-top-noti
    i.fa.fa-remove.fs-13(aria-hidden='true')

// Header 2
header.header2
  // Header desktop
  .container-menu-header-v2.p-t-26
    .topbar2
      .topbar-social
        a#carrito3(href='#')
          i.fab.fa-facebook
        a#carrito3(href='#')
          i.fab.fa-instagram
        a#carrito3(href='#')
          i.far.fa-envelope
      // Logo2
      a.logo2(href='/')
        img(src='images/icons/logo.png' alt='IMG-LOGO')
      .topbar-child2
        p Moneda
        .topbar-language.rs1-select2
          select.selection-1
            option LEMP
            option OTRA
        span.linedivide1
        // 
        if usuario.email
          p Bienvenido #{usuario.email}
          span.linedivide1
          a(href="/user/cerrar_sesion")  Cerrar sesión
          
        else
          p Bienvenido Invitado

        a.header-wrapicon1.dis-block.m-l-30(href='/user/iniciar_sesion')
          img.header-icon1(src='images/icons/icon-header-01.png' alt='ICON')
        span.linedivide1
        .header-wrapicon2.m-r-13
          img.header-icon1.js-show-header-dropdown(src='images/icons/icon-header-02.png' alt='ICON')
          // Parte del case
          if (!session.cart)
            span.header-icons-noti 0
          else
            span.header-icons-noti #{session.cart.totalQty}
          // Header cart noti
          .header-cart.header-dropdown
            ul.header-cart-wrapitem
              if (!session.cart)
                .header-cart-total
                | Total: L.0
              else
                each producto in products
                  li.header-cart-item
                    .header-cart-item-img
                      img(src=producto.item.foto alt='IMG')
                    .header-cart-item-txt
                      a.header-cart-item-name(href='#')
                      | #{producto.item.nombre}
                      span.header-cart-item-info
                        | #{producto.qty} x #{producto.item.precioVenta}
                .header-cart-total
                  | Total: L #{totalPrice}
            .header-cart-buttons
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='/carrito')
                  | Ver carrito
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='/factura')
                  | Comprar
    .wrap_header
      // Menu
      .wrap_menu
        nav.menu
          ul.main_menu
            li
              a(href='/') Inicio   
            li
              a(href='/productos') Productos
              ul.sub_menu
                li
                  a(href='/') Despensa
                li
                  a(href='/') Carnes
                li
                  a(href='/') Lácteos
                li
                  a(href='/') Frutas y vegetales
                li
                  a(href='/') Panes
                li
                  a(href='/') Bebidas
                li
                  a(href='/') Snacks y dulces
            li
              a(href='/contactanos') Contáctanos
              
      // Header Icon
      .header-icons

  // Header Mobile
  .wrap_header_mobile
    // Logo moblie
    a.logo-mobile(href='index.html')
      img(src='images/icons/logo.png' alt='IMG-LOGO')
    // Button show menu
    .btn-show-menu
      // Header Icon mobile
      .header-icons-mobile
        a.header-wrapicon1.dis-block(href='/user/iniciar_sesion')
          img.header-icon1(src='images/icons/icon-header-01.png' alt='ICON')
        span.linedivide2
        .header-wrapicon2
          img.header-icon1.js-show-header-dropdown(src='images/icons/icon-header-02.png' alt='ICON')
          if (!session.cart)
            span.header-icons-noti 0
          else
            span.header-icons-noti #{session.cart.totalQty}
          // Header cart noti
          .header-cart.header-dropdown
            ul.header-cart-wrapitem
              if (!session.cart)
                .header-cart-total
                | Total: L.0
              else
                each producto in products
                  li.header-cart-item
                    .header-cart-item-img
                      img(src=producto.item.foto alt='IMG')
                    .header-cart-item-txt
                      a.header-cart-item-name(href='#')
                      | #{producto.item.nombre}
                      span.header-cart-item-info
                        | #{producto.qty} x #{producto.item.precioVenta}
                .header-cart-total
                  | Total: L #{totalPrice}
            .header-cart-buttons
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='/carrito')
                  | Ver carrito
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='/factura')
                  | Comprar
      .btn-show-menu-mobile.hamburger.hamburger--squeeze
        span.hamburger-box
          span.hamburger-inner
  // Menu Mobile
  .wrap-side-menu
    nav.side-menu
      ul.main-menu
        li.item-topbar-mobile.p-l-20.p-t-8.p-b-8
          .topbar-child2-mobile
            p Moneda
            .topbar-language.rs1-select2
              select.selection-1(name='time')
                option LEMP
                option OTRA
        li.item-topbar-mobile.p-l-10
          .topbar-social-mobile
            p nadaaa
            if user
              p Bienvenido #{user.name}

            
          
        li.item-menu-mobile
          a(href='/') Inicio
        li.item-menu-mobile
          a(href='/productos') Productos
          ul.sub-menu
            li
              a(href='index.html') Despensa
            li
              a(href='home-02.html') Carnes
            li
              a(href='home-03.html') Lácteos
            li
              a(href='home-03.html') Frutas y vegetales
            li
              a(href='home-03.html') Panes
            li
              a(href='home-03.html') Bebidas
            li
              a(href='home-03.html') Snacks y dulces
          i.arrow-main-menu.fa.fa-angle-right(aria-hidden='true')
        li.item-menu-mobile
          a(href='contact.html') Contáctanos
