doctype html
head
  title Product
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  // ===============================================================================================
  link(rel='icon' type='image/png' href='images/icons/favicon.png')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/bootstrap/css/bootstrap.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/font-awesome-4.7.0/css/font-awesome.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/themify/themify-icons.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/Linearicons-Free-v1.0.0/icon-font.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='fonts/elegant-font/html-css/style.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animate/animate.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/css-hamburgers/hamburgers.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/animsition/css/animsition.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/select2/select2.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/slick/slick.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='vendor/noui/nouislider.min.css')
  // ===============================================================================================
  link(rel='stylesheet' type='text/css' href='css/util.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  link(rel='stylesheet', href='/css/style.css')
  link(rel="stylesheet", href='/css/articulos.css')
  link(rel="stylesheet", href='/css/theme.css')

  // ===============================================================================================
// Header
header.header1
  // Header desktop
  .container-menu-header
    .topbar
      .topbar-social
        a.topbar-social-item.fa.fa-facebook(href='#')
        a.topbar-social-item.fa.fa-instagram(href='#')
        a.topbar-social-item.fa.fa-pinterest-p(href='#')
        a.topbar-social-item.fa.fa-snapchat-ghost(href='#')
        a.topbar-social-item.fa.fa-youtube-play(href='#')
      span.topbar-child1
        | Free shipping for standard order over $100
      .topbar-child2
        span.topbar-email
          | fashe@example.com
        .topbar-language.rs1-select2
          select.selection-1(name='time')
            option USD
            option EUR
    .wrap_header
      // Logo
      a.logo(href='index.html')
        img(src='images/icons/logo.png' alt='IMG-LOGO')
      // Menu
      .wrap_menu
        nav.menu
          ul.main_menu
            li
              a(href='index.html') Home
              ul.sub_menu
                li
                  a(href='index.html') Homepage V1
                li
                  a(href='home-02.html') Homepage V2
                li
                  a(href='home-03.html') Homepage V3
            li
              a(href='product.html') Shop
            li.sale-noti
              a(href='product.html') Sale
            li
              a(href='cart.html') Features
            li
              a(href='blog.html') Blog
            li
              a(href='about.html') About
            li
              a(href='contact.html') Contact
      // Header Icon
      .header-icons
        a.header-wrapicon1.dis-block(href='#')
          img.header-icon1(src='images/icons/icon-header-01.png' alt='ICON')
        span.linedivide1
        .header-wrapicon2
          img.header-icon1.js-show-header-dropdown(src='images/icons/icon-header-02.png' alt='ICON')
          span.header-icons-noti 0
          // Header cart noti
          .header-cart.header-dropdown
            ul.header-cart-wrapitem
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-01.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | White Shirt With Pleat Detail Back
                  span.header-cart-item-info
                    | 1 x $19.00
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-02.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | Converse All Star Hi Black Canvas
                  span.header-cart-item-info
                    | 1 x $39.00
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-03.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | Nixon Porter Leather Watch In Tan
                  span.header-cart-item-info
                    | 1 x $17.00
            .header-cart-total
              | Total: $75.00
            .header-cart-buttons
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='cart.html')
                  | View Cart
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='#')
                  | Check Out
  // Header Mobile
  .wrap_header_mobile
    // Logo moblie
    a.logo-mobile(href='index.html')
      img(src='images/icons/logo.png' alt='IMG-LOGO')
    // Button show menu
    .btn-show-menu
      // Header Icon mobile
      .header-icons-mobile
        a.header-wrapicon1.dis-block(href='#')
          img.header-icon1(src='images/icons/icon-header-01.png' alt='ICON')
        span.linedivide2
        .header-wrapicon2
          img.header-icon1.js-show-header-dropdown(src='images/icons/icon-header-02.png' alt='ICON')
          span.header-icons-noti 0
          // Header cart noti
          .header-cart.header-dropdown
            ul.header-cart-wrapitem
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-01.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | White Shirt With Pleat Detail Back
                  span.header-cart-item-info
                    | 1 x $19.00
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-02.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | Converse All Star Hi Black Canvas
                  span.header-cart-item-info
                    | 1 x $39.00
              li.header-cart-item
                .header-cart-item-img
                  img(src='images/item-cart-03.jpg' alt='IMG')
                .header-cart-item-txt
                  a.header-cart-item-name(href='#')
                    | Nixon Porter Leather Watch In Tan
                  span.header-cart-item-info
                    | 1 x $17.00
            .header-cart-total
              | Total: $75.00
            .header-cart-buttons
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='cart.html')
                  | View Cart
              .header-cart-wrapbtn
                // Button
                a.flex-c-m.size1.bg1.bo-rad-20.hov1.s-text1.trans-0-4(href='#')
                  | Check Out
      .btn-show-menu-mobile.hamburger.hamburger--squeeze
        span.hamburger-box
          span.hamburger-inner
  // Menu Mobile
  .wrap-side-menu
    nav.side-menu
      ul.main-menu
        li.item-topbar-mobile.p-l-20.p-t-8.p-b-8
          span.topbar-child1
            | Free shipping for standard order over $100
        li.item-topbar-mobile.p-l-20.p-t-8.p-b-8
          .topbar-child2-mobile
            span.topbar-email
              | fashe@example.com
            .topbar-language.rs1-select2
              select.selection-1(name='time')
                option USD
                option EUR
        li.item-topbar-mobile.p-l-10
          .topbar-social-mobile
            a.topbar-social-item.fa.fa-facebook(href='#')
            a.topbar-social-item.fa.fa-instagram(href='#')
            a.topbar-social-item.fa.fa-pinterest-p(href='#')
            a.topbar-social-item.fa.fa-snapchat-ghost(href='#')
            a.topbar-social-item.fa.fa-youtube-play(href='#')
        li.item-menu-mobile
          a(href='index.html') Home
          ul.sub-menu
            li
              a(href='index.html') Homepage V1
            li
              a(href='home-02.html') Homepage V2
            li
              a(href='home-03.html') Homepage V3
          i.arrow-main-menu.fa.fa-angle-right(aria-hidden='true')
        li.item-menu-mobile
          a(href='product.html') Shop
        li.item-menu-mobile
          a(href='product.html') Sale
        li.item-menu-mobile
          a(href='cart.html') Features
        li.item-menu-mobile
          a(href='blog.html') Blog
        li.item-menu-mobile
          a(href='about.html') About
        li.item-menu-mobile
          a(href='contact.html') Contact
// Title Page
section.bg-title-page.p-t-50.p-b-40.flex-col-c-m(style='background-image: url(images/heading-pages-02.jpg);')
  h2.l-text2.t-center
    | Women
  p.m-text13.t-center
    | New Arrivals Women Collection 2018
// Content page
section.bgwhite.p-t-55.p-b-65
  .container
    .row
      .col-sm-6.col-md-4.col-lg-3.p-b-50
        .leftbar.p-r-20.p-r-0-sm
          // 
          h4.m-text14.p-b-7
            | Categories
          ul.p-b-54
            li.p-t-4
              a.s-text13.active1(href='#')
                | All
            li.p-t-4
              a.s-text13(href='#')
                | Women
            li.p-t-4
              a.s-text13(href='#')
                | Men
            li.p-t-4
              a.s-text13(href='#')
                | Kids
            li.p-t-4
              a.s-text13(href='#')
                | Accesories
          // 
          h4.m-text14.p-b-32
            | Filters
          .filter-price.p-t-22.p-b-50.bo3
            .m-text15.p-b-17
              | Price
            .wra-filter-bar
              #filter-bar
            .flex-sb-m.flex-w.p-t-16
              .w-size11
                // Button
                button.flex-c-m.size4.bg7.bo-rad-15.hov1.s-text14.trans-0-4
                  | Filter
              .s-text3.p-t-10.p-b-10
                | Range: $
                span#value-lower 610
                |  - $
                span#value-upper 980
          .filter-color.p-t-22.p-b-50.bo3
            .m-text15.p-b-12
              | Color
            ul.flex-w
              li.m-r-10
                input#color-filter1.checkbox-color-filter(type='checkbox' name='color-filter1')
                label.color-filter.color-filter1(for='color-filter1')
              li.m-r-10
                input#color-filter2.checkbox-color-filter(type='checkbox' name='color-filter2')
                label.color-filter.color-filter2(for='color-filter2')
              li.m-r-10
                input#color-filter3.checkbox-color-filter(type='checkbox' name='color-filter3')
                label.color-filter.color-filter3(for='color-filter3')
              li.m-r-10
                input#color-filter4.checkbox-color-filter(type='checkbox' name='color-filter4')
                label.color-filter.color-filter4(for='color-filter4')
              li.m-r-10
                input#color-filter5.checkbox-color-filter(type='checkbox' name='color-filter5')
                label.color-filter.color-filter5(for='color-filter5')
              li.m-r-10
                input#color-filter6.checkbox-color-filter(type='checkbox' name='color-filter6')
                label.color-filter.color-filter6(for='color-filter6')
              li.m-r-10
                input#color-filter7.checkbox-color-filter(type='checkbox' name='color-filter7')
                label.color-filter.color-filter7(for='color-filter7')
          .search-product.pos-relative.bo4.of-hidden
            input.s-text7.size6.p-l-23.p-r-50(type='text' name='search-product' placeholder='Search Products...')
            button.flex-c-m.size5.ab-r-m.color2.color0-hov.trans-0-4(name='btnBuscar')
              i.fs-12.fa.fa-search(aria-hidden='true')
      .col-sm-6.col-md-8.col-lg-9.p-b-50
        // 
        .flex-sb-m.flex-w.p-b-35
          .flex-w
            .rs2-select2.bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
              select.selection-2(name='sorting')
                option Default Sorting
                option Popularity
                option Price: low to high
                option Price: high to low
            .rs2-select2.bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
              select.selection-2(name='sorting')
                option Price
                option $0.00 - $50.00
                option $50.00 - $100.00
                option $100.00 - $150.00
                option $150.00 - $200.00
                option $200.00+
          span.s-text8.p-t-5.p-b-5
            | Showing 1&ndash;12 of 16 results
        // Product
        //.row
        //.col-sm-12.col-md-6.col-lg-4.p-b-50
        //block contenido
        .section__content.section__content--p30
          .container-fluid
            .row
              .col-md-12
                .card
                  .card-header
                    i.mr-2.fa.fa-align-justify
                    strong.card-title(v-if='headerText') Inventario
                  .card-body
                    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                      .carousel-inner
                        if (inventarios)
                          each inventario in inventarios
                            if (inventario.idInventario==1)
                              .carousel-item.active.slide
                                img.d-block(src='/img/vino.png' alt='#{inventario.nombre} ')
                                .carousel-caption.d-none.d-md-block.texts
                                  h5.text-white #{inventario.nombre}
                                    p 
                                      b | $ Precio:#{inventario.precioVenta} 
                                      b | Quedan: #{inventario.stock}
                                      a.btn.btn-warning(href='#' onclick="AgregarCarrito(1,#{inventario.nombre},#{inventario.precio},1,#{inventario.precio})") Añadir al carrito
                            else
                              .carousel-item.slide
                                img.d-block(src= inventario.foto )
                                .carousel-caption.d-none.d-md-block.texts
                                  h5.text-white #{inventario.nombre}
                                  p 
                                    b | $ Precio:#{inventario.precioVenta} 
                                    b | Quedan: #{inventario.stock}
                                  a.btn.btn-warning(href='#' onclick="AgregarCarrito(1,#{inventario.nombre},#{inventario.precio},1,#{inventario.precio})") Añadir al carrito
                    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Anterior
                    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Siguiente
        .lista-productos.contenedo
          if (inventarios)
            each inventario in inventarios
              .producto
                img(src=inventario.foto alt='producto')
                .contenido-producto
                  p.titulo #{inventario.nombre}
                  p.precio #{inventario.precioVenta}
                  a.btn.btn-warning(href='#' onclick="AgregarCarrito(1,#{inventario.nombre},#{inventario.precio},1,#{inventario.precio})") Añadir al carrito


        // Pagination
        .pagination.flex-m.flex-w.p-t-26
          a.item-pagination.flex-c-m.trans-0-4.active-pagination(href='#') 1
          a.item-pagination.flex-c-m.trans-0-4(href='#') 2
// Footer
footer.bg6.p-t-45.p-b-43.p-l-45.p-r-45
  .flex-w.p-b-90
    .w-size6.p-t-30.p-l-15.p-r-15.respon3
      h4.s-text12.p-b-30
        | GET IN TOUCH
      div
        p.s-text7.w-size27
          | Any questions? Let us know in store at 8th floor, 379 Hudson St, New York, NY 10018 or call us on (+1) 96 716 6879
        .flex-m.p-t-30
          a.fs-18.color1.p-r-20.fa.fa-facebook(href='#')
          a.fs-18.color1.p-r-20.fa.fa-instagram(href='#')
          a.fs-18.color1.p-r-20.fa.fa-pinterest-p(href='#')
          a.fs-18.color1.p-r-20.fa.fa-snapchat-ghost(href='#')
          a.fs-18.color1.p-r-20.fa.fa-youtube-play(href='#')
    .w-size7.p-t-30.p-l-15.p-r-15.respon4
      h4.s-text12.p-b-30
        | Categories
      ul
        li.p-b-9
          a.s-text7(href='#')
            | Men
        li.p-b-9
          a.s-text7(href='#')
            | Women
        li.p-b-9
          a.s-text7(href='#')
            | Dresses
        li.p-b-9
          a.s-text7(href='#')
            | Sunglasses
    .w-size7.p-t-30.p-l-15.p-r-15.respon4
      h4.s-text12.p-b-30
        | Links
      ul
        li.p-b-9
          a.s-text7(href='#')
            | Search
        li.p-b-9
          a.s-text7(href='#')
            | About Us
        li.p-b-9
          a.s-text7(href='#')
            | Contact Us
        li.p-b-9
          a.s-text7(href='#')
            | Returns
    .w-size7.p-t-30.p-l-15.p-r-15.respon4
      h4.s-text12.p-b-30
        | Help
      ul
        li.p-b-9
          a.s-text7(href='#')
            | Track Order
        li.p-b-9
          a.s-text7(href='#')
            | Returns
        li.p-b-9
          a.s-text7(href='#')
            | Shipping
        li.p-b-9
          a.s-text7(href='#')
            | FAQs
    .w-size8.p-t-30.p-l-15.p-r-15.respon3
      h4.s-text12.p-b-30
        | Newsletter
      form
        .effect1.w-size9
          input.s-text7.bg6.w-full.p-b-5(type='text' name='email' placeholder='email@example.com')
          span.effect1-line
        .w-size2.p-t-20
          // Button
          button.flex-c-m.size2.bg4.bo-rad-23.hov1.m-text3.trans-0-4
            | Subscribe
  .t-center.p-l-15.p-r-15
    a(href='#')
      img.h-size2(src='images/icons/paypal.png' alt='IMG-PAYPAL')
    a(href='#')
      img.h-size2(src='images/icons/visa.png' alt='IMG-VISA')
    a(href='#')
      img.h-size2(src='images/icons/mastercard.png' alt='IMG-MASTERCARD')
    a(href='#')
      img.h-size2(src='images/icons/express.png' alt='IMG-EXPRESS')
    a(href='#')
      img.h-size2(src='images/icons/discover.png' alt='IMG-DISCOVER')
    .t-center.s-text8.p-t-20
      | Copyright &copy; 2018 All rights reserved. | This template is made with 
      i.fa.fa-heart-o(aria-hidden='true')
      |  by 
      a(href='https://colorlib.com' target='_blank') Colorlib
// Back to top
#myBtn.btn-back-to-top.bg0-hov
  span.symbol-btn-back-to-top
    i.fa.fa-angle-double-up(aria-hidden='true')
// Container Selection
#dropDownSelect1
#dropDownSelect2
// ===============================================================================================
script(type='text/javascript' src='vendor/jquery/jquery-3.2.1.min.js')
// ===============================================================================================
script(type='text/javascript' src='vendor/animsition/js/animsition.min.js')
// ===============================================================================================
script(type='text/javascript' src='vendor/bootstrap/js/popper.js')
script(type='text/javascript' src='vendor/bootstrap/js/bootstrap.min.js')
// ===============================================================================================
script(type='text/javascript' src='vendor/select2/select2.min.js')
script(type='text/javascript').
  $(".selection-1").select2({
  minimumResultsForSearch: 20,
  dropdownParent: $('#dropDownSelect1')
  });
  $(".selection-2").select2({
  minimumResultsForSearch: 20,
  dropdownParent: $('#dropDownSelect2')
  });
// ===============================================================================================
script(type='text/javascript' src='vendor/daterangepicker/moment.min.js')
script(type='text/javascript' src='vendor/daterangepicker/daterangepicker.js')
// ===============================================================================================
script(type='text/javascript' src='vendor/slick/slick.min.js')
script(type='text/javascript' src='js/slick-custom.js')
// ===============================================================================================
script(type='text/javascript' src='vendor/sweetalert/sweetalert.min.js')
script(type='text/javascript').
  $('.block2-btn-addcart').each(function(){
  var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
  $(this).on('click', function(){
  swal(nameProduct, "is added to cart !", "success");
  });
  });
  $('.block2-btn-addwishlist').each(function(){
  var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
  $(this).on('click', function(){
  swal(nameProduct, "is added to wishlist !", "success");
  });
  });
// ===============================================================================================
script(type='text/javascript' src='vendor/noui/nouislider.min.js')
script(type='text/javascript').
  /*[ No ui ]
  ===========================================================*/
  var filterBar = document.getElementById('filter-bar');
  noUiSlider.create(filterBar, {
  start: [ 50, 200 ],
  connect: true,
  range: {
  'min': 50,
  'max': 200
  }
  });
  var skipValues = [
  document.getElementById('value-lower'),
  document.getElementById('value-upper')
  ];
  filterBar.noUiSlider.on('update', function( values, handle ) {
  skipValues[handle].innerHTML = Math.round(values[handle]) ;
  });
// ===============================================================================================
script(src='js/main.js')
