
include ./header.pug

// Title Page
section.bg-title-page.p-t-50.p-b-40.flex-col-c-m(style='background-image: url(images/heading-pages-02.jpg);')
  h2.l-text2.t-center
    | Productos frescos
  p.m-text13.t-center
    | Encuentra las frutas y vegetales más frescos
// Content page
section.bgwhite.p-t-55.p-b-65
  .container
    .row
      .col-sm-6.col-md-4.col-lg-3.p-b-50
        .leftbar.p-r-20.p-r-0-sm
          // 
          h4.m-text14.p-b-7
            | Categorías
          if (categorias)
            each categoria in categorias  
              ul.p-b-54
                li.p-t-4
                  a.s-text13(href=`/formularios/inventario/filtro/${categoria.idCategoria}`)
                    |#{categoria.nombre}
            //- li.p-t-4
            //-   a.s-text13(href='#')
            //-     | Carnes
            //- li.p-t-4
            //-   a.s-text13(href='#')
            //-     | Lácteos
            //- li.p-t-4
            //-   a.s-text13(href='#')
            //-     | Frutas y Vegetales
            //- li.p-t-4
            //-   a.s-text13(href='#')
            //-     | Panes
            //- li.p-t-4
            //-   a.s-text13(href='#')
            //-     | Bebidas
            //- li.p-t-4
            //-   a.s-text13(href='#')
            //-     | Snacks y dulces
          
      // barra de búsqueda    
      .col-sm-6.col-md-8.col-lg-9.p-b-50
        .flex-sb-m.flex-w.p-b-35      
          .search-product.pos-relative.bo4.of-hidden
            input.s-text7.size6.p-l-23.p-r-50(type='text' name='search-product' placeholder='Buscar producto')
            button.flex-c-m.size5.ab-r-m.color2.color0-hov.trans-0-4(name='btnBuscar')
              i.fs-12.fa.fa-search(aria-hidden='true')
   
        // Product

        //.row
        //.col-sm-12.col-md-6.col-lg-4.p-b-50
         

        .section__content.section__content--p30
          .container-fluid
            .row
              .col-md-12
                .card
                  .card-header
                    i.mr-2.fa.fa-align-justify
                    strong.card-title(v-if='headerText') Inventario
                  .card-body
                    #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                      .carousel-inner
                        if (inventarios)
                          each inventario in inventarios
                            if (inventario.idInventario==1)
                              .carousel-item.active.slide
                                img.d-block(src=inventario.foto alt='#{inventario.nombre} ')
                                .carousel-caption.d-none.d-md-block.texts(id=`${inventario.idInventario}`)
                                  h5.text-white #{inventario.nombre}
                                    p.text-white 
                                      b | L Precio:#{inventario.precioVenta} 
                                      b | Quedan: #{inventario.stock}

                                      a.btn.btn-warning(href=`/carrito/anadir_carrito/${inventario.idInventario}`) Añadir al carrito

                            else
                              .carousel-item.slide
                                img.d-block(src= inventario.foto )
                                .carousel-caption.d-none.d-md-block.texts(id=`${inventario.idInventario}`)
                                  h5.text-white #{inventario.nombre}
                                  p.text-white 
                                    b | L Precio:#{inventario.precioVenta} 
                                    b | Quedan: #{inventario.stock}
                                  a.btn.btn-warning(href=`/carrito/anadir_carrito/${inventario.idInventario}`) Añadir al carrito
                    a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                        span.carousel-control-prev-icon(aria-hidden='true')
                        span.sr-only Anterior
                    a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                        span.carousel-control-next-icon(aria-hidden='true')
                        span.sr-only Siguiente
        .lista-productos.contenedo
          if (inventarios)
            each inventario in inventarios
              .producto
                img(src=inventario.foto alt='producto')
                .contenido-producto(id=`${inventario.idInventario}`)
                  p.titulo #{inventario.nombre}
                  p.precio #{inventario.precioVenta}
                  a.btn.btn-warning(href=`/carrito/anadir_carrito/${inventario.idInventario}`) Añadir al carrito



        // Pagination
        .pagination.flex-m.flex-w.p-t-26
          a.item-pagination.flex-c-m.trans-0-4.active-pagination(href='#') 1
          a.item-pagination.flex-c-m.trans-0-4(href='#') 2

// Footer
include ./footer.pug
