include ../header

link(rel="stylesheet", href="css/estiloFactura.css")
    
.invoice-box
  table(cellpadding='0' cellspacing='1')
    tr.top
      td(colspan='2')
        table
          tr
            td.title
              img(src='/img/logoEmpresa.png' style='width:100%; max-width:300px;')
            td
              | Factura #: 123
              br
              |                                 Creada: January 1, 2015
    tr.information
      td(colspan='2')
        table
          tr
            td
              | Sparksuite, Inc.
              br
              |                                 12345 Sunny Road
              br
              |                                 Sunnyville, CA 12345
            td
              | Acme Corp.
              br
              |                                 John Doe
              br
              |                                 john@example.com
    
    tr.heading
        td
            | Producto
        td
            | Precio
    if products
        each producto in products
            tr.item
                td
                    |#{producto.item.nombre} x #{producto.qty} 
                td
                    | #{producto.price}
    tr.total
        td
        td
            h5 Subtotal: L #{subtotal}
            h5 Impuesto: L #{impuesto}
            h5 Total: L #{totalPrice}
    tr
        td
        td
            a(href="/factura/generar")
                .size15.trans-0-4.pago
                    // Button
                    button.flex-c-m.sizefull.bg1.bo-rad-23.hov1.s-text1.trans-0-4
                        | Proceder al pago

