extends ./inventario
 
block contenido
    //- if (inventarios)
    //-     .grid-stack
    //-         each inventario in inventarios 
    //-             .grid-stack-item(data-gs-x='0' data-gs-y='0' data-gs-width='4' data-gs-height='2')
    //-                 .grid-stack-item-content
    //-                     a.articulosText(href=`/inventario/${inventario.url}`) #{inventario.nombre}
    //-                     h2.text-warning #{inventario.precioVenta}
    //- script(type='text/javascript').
    //-     $(function () {
    //-         var options = {cellHeight: 80, verticalMargin: 10};
    //-         $('.grid-stack').gridstack(options);
    //-     });
     
    script.
        function agregarItem(external) {
         var url = 'http://localhost:3000/agregar' + external;
         $.ajax({
             url: url,
                type: 'GET',
             dataType: 'json',
                success: function (data, textStatus, jqXHR) {
                 refrescar();
                }, error: function (jqXHR, textStatus, errorThrown) {
                    console.log(jqXHR);
             }
            });
            return false;
        }

    .section__content.section__content--p30
        .container-fluid
            .row
                .col-md-12
                    .card
                        .card-header
                            i.mr-2.fa.fa-align-justify
                            strong.card-title(v-if='headerText') Inventario
                        .card-body
                            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                                .carousel-inner
                                if (inventarios)
                                    each inventario in inventarios
                                        if (inventario.idInventario==1)
                                            .carousel-item.active.slide
                                                img.d-block(src='/img/vino.png' alt='#{inventario.nombre} ')
                                                .carousel-caption.d-none.d-md-block.texts
                                                    h5.text-white #{inventario.nombre}
                                                    p 
                                                        b | $ Precio:#{inventario.precioVenta} 
                                                        b | Quedan: #{inventario.stock}
                                                    a.btn.btn-warning(href='#' onclick="return agregarItem('<%=vino.external_id%>')") Comprar
                                        else
                                            .carousel-item.slide
                                                img.d-block(src= inventario.foto )
                                                .carousel-caption.d-none.d-md-block.texts
                                                    h5.text-white #{inventario.nombre}
                                                    p 
                                                        b | $ Precio:#{inventario.precioVenta} 
                                                        b | Quedan: #{inventario.stock}
                                                    a.btn.btn-warning(href='#' onclick="return agregarItem('<%=vino.external_id%>')") Comprar
                            a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
                                span.carousel-control-prev-icon(aria-hidden='true')
                                span.sr-only Previous
                            a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
                                span.carousel-control-next-icon(aria-hidden='true')
                                span.sr-only Next

